<div class="container">
    <h3>{{recipe.id ? recipe.name : 'New Recipe'}}</h3>
    <form class="form" method="POST">
        <input type="hidden" name="_METHOD" value="PUT" ng-if="recipe.id" />
        <input type="hidden" id="recipe-id" name="id" value="{{recipe.id}}" />
        <fieldset>
            <div class="form-group row">
                <label for="recipe-name" class="col-lg-1 control-label">Name</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="recipe-name" name="name" ng-model="recipe.name" />
                </div>
            </div>
            <div class="form-group row">
                <label for="recipe-description" class="col-lg-1 control-label">Description</label>
                <div class="col-lg-4">
                    <textarea class="form-control" id="recipe-description" name="description" rows="5" ng-model="recipe.description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-offset-1 col-lg-4">
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="save()">Save changes</button>
                </div>
            </div>
        </fieldset>
    </form>
    <h4>Ingredients
        <button type="button" class="btn btn-xs btn-success" ng-click="addRecipeIngredient()" ng-disabled="!recipe.id">+Add</button>
    </h4>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Calories (/100g)</th>
            <th>Protein (/100g)</th>
            <th>Fat (/100g)</th>
            <th>Carbohydrates (/100g)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="recipeIngredient in recipeIngredients">
            <td><a ng-click="addRecipeIngredient(recipeIngredient)">{{recipeIngredient.name}}</td>
            <td>{{recipeIngredient.weight}}</td>
            <td>{{getIngredientValueForWeight(recipeIngredient, 'kcal')}} ({{recipeIngredient.kcal}})</td>
            <td>{{getIngredientValueForWeight(recipeIngredient, 'protein')}} ({{recipeIngredient.protein}})</td>
            <td>{{getIngredientValueForWeight(recipeIngredient, 'fat')}} ({{recipeIngredient.fat}})</td>
            <td>{{getIngredientValueForWeight(recipeIngredient, 'carb')}} ({{recipeIngredient.carb}})</td>
            <td><i class="glyphicon glyphicon-remove" ng-click="confirmDeleteRecipeIngredient(recipeIngredient);"></i></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>TOTAL:</th>
            <th class="col-lg-1"><input type="text" class="form-control input-sm" id="recipe-weight" ng-model="ingredientTotals.weight" ng-change="calculateIngredientTotalsPer100()"/></th>
            <th>
                <span class="total-kcal">{{ingredientTotals.kcal}}</span>
                (<span class="per100-kcal">{{ingredientTotals.kcal100}}</span>)
            </th>
            <th>
                <span class="total-protein">{{ingredientTotals.protein}}</span>
                (<span class="per100-protein">{{ingredientTotals.protein100}}</span>)
            </th>
            <th>
                <span class="total-fat">{{ingredientTotals.fat}}</span>
                (<span class="per100-fat">{{ingredientTotals.fat100}}</span>)
            </th>
            <th>
                <span class="total-carb">{{ingredientTotals.carb}}</span>
                (<span class="per100-carb">{{ingredientTotals.carb100}}</span>)
            </th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="recipe-ingredient-add-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-ingredient-add-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="recipe-ingredient-add-modal-label">Add recipe ingredient</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group form-group-sm">
                            <label for="recipe-ingredient-id" class="col-lg-2 control-label small">Ingredient</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="recipe-ingredient-id"
                                        ng-model="selectedRecipeIngredient.ingredient_id"
                                        ng-options="ingredient.id as ingredient.name for ingredient in ingredients"></select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="recipe-ingredient-weight" class="col-lg-2 control-label small">Weight</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="recipe-ingredient-weight" placeholder="weight"
                                       ng-model="selectedRecipeIngredient.weight"
                                       ng-keyup="$event.keyCode == 13 && saveRecipeIngredient()" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="saveRecipeIngredient()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="recipe-ingredient-delete-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-ingredient-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="recipe-ingredient-delete-modal-label">Delete recipe ingredient</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete ingredient <strong class="recipe-ingredient-delete-name"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteRecipeIngredient()">Delete</button>
            </div>
        </div>
    </div>
</div>