<div class="container">
    <h3>Recipes <a href="/recipe" class="btn btn-xs btn-success recipe-add">+Add</a></h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th ng-click="sortColumn = 'id'; sortReverse=!sortReverse">#</th>
            <th ng-click="sortColumn = 'name'; sortReverse=!sortReverse">Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="recipe-row" ng-repeat="recipe in recipes | orderBy:sortColumn:sortReverse">
            <td>{{recipe.id}}</td>
            <td><a href="/recipes/{{recipe.id}}" ng-click="selectRecipe(recipe)">{{recipe.name}}</a></td>
            <td><i class="glyphicon glyphicon-remove" ng-click="deleteRecipe(recipe)"></i></td>
        </tr>
        </tbody>
    </table>
</div>